/* import inter-font form google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1440px;
    background-color: black;
}

/*import Miama-font form google font  */
@font-face {
    font-family: 'Miama';
    src: url('/miama font/Miama.otf') format('opentype');
}

/* universal selector styles */
* {
    box-sizing: border-box;
    margin: 0;
}

/* common styles */
.btn-primary {
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(230, 83, 60, 1.00);
    border-radius: 42px;
    padding: 16px 46px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-left: 14px;
    cursor: pointer;
}

.all-description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.88rem;
}


/* header-part styles */
header {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

/* nav bar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 57px;
    max-width: 75%;
}

nav h1 {
    color: rgba(230, 83, 60, 1.00);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

nav ul {
    display: flex;
    gap: 47px;
}

nav ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1.00);
    font-size: 1.125rem;
}

#nav-home {
    font-weight: 600;
    background-color: rgba(230, 83, 60, 1.00);
    border-radius: 46px;
    padding: 8px 20px;
}

.hamburger {
    color: rgba(255, 255, 255, 1.00);
    text-align: center;
    font-size: 1.5rem;
    display: none;
}

/* banner styles */
.banner-heading {
    font-weight: 900;
    font-size: 4.87rem;
    color: rgba(255, 255, 255, 1.00);
}

.shape-font-change {
    font-weight: 400;
    font-family: 'Miama', cursive;
}

.banner-description {
    color: rgba(255, 255, 255, 0.50);
    margin: 28px 0;
}

.banner-info-container {
    max-width: 45%;
    margin-top: 100px;
}

.banner-main-container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    gap: 167px;
}

.banner-img-div {
    margin-top: 33px;
    position: relative;
}

/* overlap card upon img */
.overlap-lower-card {
    display: flex;
    gap: 12px;
    padding: 20px 23px;
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: fit-content;
    border-radius: 12px;
    position: absolute;
    bottom: 60px;
    left: -110px;
}

.three-five-zero {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
    padding-bottom: 8px;

}

.overlap-video-tutorial {
    color: rgba(239, 237, 232, 0.65);
}

.overlap-red-circle {
    width: 46px;
    height: 46px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.overlap-upper-card {
    padding: 16px 24px;
    background: rgba(48, 48, 48, 0.54);
    max-width: fit-content;
    border-radius: 12px;
    position: absolute;
    top: 130px;
    right: -40px;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.five-hundred {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.banner-img-div #overlap-play-btn {
    color: white;
    max-width: fit-content;
    position: absolute;
    bottom: 250px;
    right: 400px;
}

/* overlap card styles end here */


/* main-part styles */
/* change habit card section */
.change-habit-main-container,
.extra-mile-main-container,
.optional-section-main-container {
    margin: 100px auto;
    max-width: 80%;
}

.change-habit-info {
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
}

.change-habit-heading,
.extra-mile-heading,
.optional-heading,
.calculator-info-heading,
.meet-team-heading {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    padding-bottom: 14px;
}

.change-habit-cards-container {
    display: flex;
    gap: 40px;
    padding-top: 60px;
}

.habit-card-img {
    padding-bottom: 30px;
    border-radius: 50%;
}

.habit-card-heading {
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
}

/* run extra mile section start here */
.extra-mile-main-container {
    display: flex;
    gap: 165px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 30px 30px 30px 58px;
}

.extra-mile-info-container {
    width: 40%;
}

.extra-mile-info-container button {
    margin-top: 32px;
    margin-bottom: 10px;
}

.extra-mile-img-div {
    width: 45%;
    overflow: hidden;
    border-radius: 18px;
}

.extra-mile-img {
    width: 100%;
    transform: scale(2.5) translateX(-15%) translateY(12%);

}

/* optional section start here  */
.optional-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 215px);
    gap: 0;
    padding-top: 60px;
}

.optional-info-container {
    max-width: 55%;
}

.optional-img-div-one {
    grid-column: 1/span 3;
    overflow: hidden;
    position: relative;
}

.optional-img-div-one img {
    transform: scale(1.4) translateX(7%) translateY(7%);
    color: rgba(6, 255, 210, 0.5);
}

.optional-img-name-one {
    font-size: 0.9rem;
    font-weight: 500;
    position: absolute;
    left: 33px;
    top: 185px;
}

.optional-img-div-two {
    grid-column: 4/ span 6;
    overflow: hidden;
    position: relative;
}

.optional-img-div-two img {
    transform: translateY(-20%);
}

.optional-img-name-two {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 37px;
    top: 25px;
}

.optional-img-div-three {
    grid-column: 10/ span 3;
    overflow: hidden;
    position: relative;
}

.optional-img-div-three img {
    transform: scale(1.46) translateY(16%);
}

.optional-img-name-three {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 30px;
    top: 160px;
}

.optional-img-div-four {
    grid-column: 1/span 5;
    overflow: hidden;
    position: relative;
}

.optional-img-div-four img {
    transform: translateY(-7%);
    color: rgba(0, 0, 0, 0.5);
}

.optional-img-name-four {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    position: absolute;
    right: 30px;
    bottom: 160px;
}

.optional-img-div-five {
    grid-column: 6/span 3;
    overflow: hidden;
    position: relative;
}

.optional-img-div-five img {
    transform: scale(1.5) translateY(3%);
}

.optional-img-name-five {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 30px;
    top: 160px;
}

.optional-img-div-six {
    grid-column: 9/span 4;
    overflow: hidden;
    position: relative;
}

.optional-img-div-six img {
    transform: translateY(-7%);
}

.optional-img-name-six {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 30px;
    top: 160px;
}

.overlay-color-one{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}
.overlay-color-two{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 0, 0, 0.3) ;
}
.overlay-color-three{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5) ;
}
.overlay-color-four{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-color-five{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 255, 0, 0.3);
}
.overlay-color-six{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 71, 255, 0.3) ;
}
.optional-img {
    width: 100%;
}

/* BMI Calculator section start from here */

.calculator-info-container {
    margin: 0 auto;
    max-width: 45%;
}

.calculator-flex-container {
    display: flex;
    gap: 170px;
    margin: 88px 0;
    background: rgb(34, 34, 34);
    padding: 50px 190px;
    justify-content: space-between;
}
.calculator-chart-div{
    min-width: fit-content;
}
.calculator-last-heading {
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
}
.need-margin-bmi-heading{
    padding-bottom: 50px;
}
table{
    border-collapse: collapse;
}
 td {
    border:1px solid rgba(255, 255, 255, 0.1);
    padding:18px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.88rem;
}

th {
    font-weight: 500;
    color: white;
    border:1px solid rgba(255, 255, 255, 0.1);
    padding:15px;
    text-align: left;
}

.calculate-bmi-div {
    max-width:fit-content;
}

.calculate-bmi-div p {
    padding-top: 14px;
    padding-bottom: 34px;
}

input[type="text"],
select {
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin: 6px;
    padding: 12px 40px 12px 20px;
    width: 280px;
}
#activity-factor {
    width: 577px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
form .btn-primary{
    margin-top: 35px;
}
/* Meet Our Team section start from here */
.meet-team-main-container {
    max-width: 45%;
    text-align: center;
    margin: 0 auto;
}

.all-trainer-grid-container {
    max-width: 80%;
    margin: 60px auto 90px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 272px);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.trainer-one,
.trainer-two,
.trainer-three,
.trainer-four,
.trainer-five,
.trainer-six {
    overflow: hidden;
    border-radius: 18px;
    position: relative;
}

.trainer-four img {
    transform: scale(1.35) translateY(20%);
}

.trainer-five img {
    transform: translateY(-10%);
}

.trainer-img {
    width: 100%;
}

.trainer-name {
    color: white;
    position: absolute;
    font-size: 1.125rem;
    font-weight: 700;
    top: 210px;
    left: 20px;
}

.trainer-title {
    position: absolute;
    color: white;
    top: 230px;
    left: 20px;
}
/* my own section style start from here */
.my-own{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.my-own-heading{
color: wheat;
padding-bottom: 50px;
font-size: 2.5rem;

}
.my-own-grid-container{
display: grid;
grid-template-columns: repeat(3,1fr);
margin-bottom: 100px;
}
.own-idea-box{
height: 200px;
width: 200px;
background-color: #FF3333;
padding-top:10%;
transition: transform 1.5s linear 0.5s;
}

.own-idea-circle{
    height: 200px;
width: 200px;
border: 3px dashed yellow;
border-radius: 50%;
background-color: #779933;
padding-top:10%;
transition: transform 1.5s linear 0.5s;
}
.own-idea-oval{
    height: 200px;
width: 200px;
background-color: #dcd427;
border-radius:30%;
padding-top:10%;
border: 3px dashed black;
transition: transform 1.5s linear 0.5s;
}
.my-own-grid-container>div>p{
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 600;
    display: none;
}
.my-own-grid-container>div:hover p{
    display: block;
}
.own-idea-box:hover ,
.own-idea-circle:hover,
.own-idea-oval:hover{
    transform: scale(1.75) rotate(360deg);
}
/* <!-- my own section end here */
/* footer-part styles */
footer {
    background: rgba(255, 255, 255, 0.1);
}

.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 40% 20% 20%);
    gap: 102px;
    padding: 66px 190px 78px 190px;
}

.footer-div {
    max-width: fit-content;
}

.footer-heading-fitness {
    font-weight: 800;
    font-size: 4.37rem;
    color: rgb(230, 83, 60);
    padding-bottom: 20px;
}

.footer-another-heading {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-common-description {
    padding: 20px 0;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}

footer hr {
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-copyright {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 36px 0;
}